@use "src/styles/variables";
@use "src/styles/mixins";
@use "src/styles/functions";

.btn {
    border: none;
    cursor: pointer;
    font-weight: 500;
    height: functions.rem(32px);
    min-width: functions.rem(100px);
    padding: functions.rem(6px) functions.rem(20px);
    transition: .2s;
    user-select: none;
    @include mixins.border-radius(3px);

    span {
        @include mixins.ellipsis();
    }

    &.primary {
        background-color: variables.$red;
        color: white;

        &:hover {
            background-color: variables.$red-l80;
        }

        &:active {
            background-color: variables.$red-d20;
        }
    }

    &.secondary {
        background: none;
        border: 1px solid variables.$gray;
        border-radius: functions.rem(3px);
        color: variables.$gray;

        &:hover {
            border-color: variables.$gray-l80;
        }

        &:active {
            border-color: variables.$red-d20;
            color: variables.$red-d20;
        }
    }

    .disabled {
        background-color: variables.$gray-l80;
        color: variables.$gray;
    }

    &.special {
        height: functions.rem(56px);
        width: functions.rem(200px);
        font-size: functions.rem(16px);
    }
}
