@use "src/styles/variables";
@use "src/styles/mixins";
@use "src/styles/functions";

.btn {
  height: functions.rem(32px);
  min-width: functions.rem(100px);
  padding: functions.rem(6px) functions.rem(20px);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: .2s;
  font-weight: 500;
  @include mixins.border-radius(3px);

  span {
    @include mixins.ellipsis();
  }

  &.primary {
    color: white;
    background-color: variables.$red;

    &:hover {
      background-color: variables.$red-l80;
    }

    &:active {
      background-color: variables.$red-d20;
    }
  }

  &.secondary {
    color: variables.$gray;
    border: 1px solid variables.$gray;
    border-radius: functions.rem(3px);
    background: none;

    &:hover {
      border-color: variables.$gray-l80;
    }

    &:active {
      color: variables.$red-d20;
      border-color: variables.$red-d20;
    }
  }

  .disabled {
    background-color: variables.$gray-l80;
    color: variables.$gray;
  }
}
