<header class="header" #header>
    <div class="header__logo">
        <app-image-svg [imageHeight]="30"
                       [imageDescription]="'Company logo'"
                       [imageUrl]="IMAGE_PATH + 'events-logo.svg'">
        </app-image-svg>
    </div>

    <nav class="header__nav">

        <ng-container *ngIf="true">
            <a class="header__nav__item" [routerLink]="[PUBLIC_HOME]" routerLinkActive="activated-route">Home</a>
            <a class="header__nav__item" [routerLink]="[PUBLIC_RESERVATIONS]" routerLinkActive="activated-route">Reservations</a>
            <a class="header__nav__item" [routerLink]="[PUBLIC_MAP]" routerLinkActive="activated-route">Map</a>
        </ng-container>

        <ng-container *ngIf="false">
            <div class="button">
                <app-button [cssClass]="'primary'" (click)="openUserRegistrationDialog()">Register</app-button>
            </div>
            <div class="button">
                <app-button [cssClass]="'secondary'" (click)="openUserLoginDialog()">Login</app-button>
            </div>
        </ng-container>
    </nav>
</header>
