<div class="content">
    <h3 class="content__title">Upcoming events</h3>

    <div class="content__main">
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
        <app-card [size]="'medium'"></app-card>
    </div>
</div>
